*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;     
}

#main{
    display: flex;
    padding-top: 2rem;
    padding-left: 7rem;
    gap: 7rem;
    background-color: #eadede;
    height: 100vh;
}

#menu{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgb(169, 158, 158);
    border-radius: 20px;
    padding: 4rem;
    height: 90vh;
    gap: 3rem;
}

#primera-parte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#redes{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

#categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.categoria{
    box-shadow: 0px 4px 15px rgb(148, 141, 141);
    border-radius: 20px;
    padding: 1rem;
    width: 200px;
    text-align: center;
    background-color: #eadede;
}

#categorias a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}

#articulos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgb(169, 158, 158);
    height: 90vh;
}

.articulo{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-radius: 20px;
    background-color: #eadede;
    padding: 1.5rem;
    box-shadow: 0px 4px 15px rgb(169, 158, 158);
}

.title-producto{
    font-size: 30px;
    font-weight: 800;
}

.title{
    font-size: 25px;
    font-weight: 800;
}

.info-producto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
}

.productos-img{
    width: 18rem;
    border-radius: 20px;
}

#logo{
    width: 8rem;
}